{% extends "base_nav.html" %}

{% block page_title %}Cars{% endblock %}
{% block site_css %}
    <link href="{{ static('csm/css/panel/cars.css') }}" rel="stylesheet" type="text/css">
{% endblock %}
{% block extra_head %}{% endblock%}
{% block meta_description %}{% endblock %}
{% block keywords %}{% endblock %}


{% block main %}
	<h3 class="text-center">Available cars</h3><hr>
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="/">Home</a></li>
			<li class="breadcrumb-item"><a href="{{ url('panel:cars') }}">Cars</a></li>
			<li class="breadcrumb-item active">Available Cars</li>
		</ol>
	</nav>
	<a class="btn btn-sm btn-success" href="{{ url('panel:car_new')}}"> <i class="fa fa-plus"></i> New car</a>
	<br><br>

	<table class="table table-hover text-left">
		<thead>
	      <tr class="color_head">
	        <th>Brand</th>
	        <th> <a href="?order_by=kilometers" id="kilometers">Kilometers <i class="fas fa-sort"></i></a> </th>
	        <th> <a href="?order_by=price" id="price">Price <i class="fas fa-sort"></i></a> </th>
	        <th><a href="?order_by=cc" id="cc">CC <i class="fas fa-sort"></i></a></th>
	        <th>License Plate</th>
	      	<th>Owner</th>
	      </tr>
	    </thead>
	    <tbody>
			{% for car in cars %}
				<tr>
		    		<td> <a href="{{ url('panel:car_single', args=[car.id]) }}">{{car.brand}}</a> </td>
		    		<td>{{car.kilometers}}</td>
		    		<td>&euro; {{car.price}}</td>
		    		<td>{{car.cc}}</td>
		    		<td>{{car.license_plate}}</td>
					<td>
						{% if owner %}
							{{car.owner.full_name()}}
						{% else %}
							No owner
						{% endif %}
					</td>
				</tr>
			{% endfor %}
	    </tbody>
	</table>
{% endblock %}
{% block site_js %}
	<script type="text/javascript">


		$(document).ready(function() {
			$('#cars').addClass('active');

			var order = '{{order}}';
			$('#'+order).addClass('selected_order').attr("href","?order_by=-"+order);

		});
	</script>
{% endblock %}