{% extends "base_nav.html" %}

{% block page_title %}Garage{% endblock %}
{% block site_css %}
    <link href="{{ static('csm/css/panel/garage.css') }}" rel="stylesheet" type="text/css">
{% endblock %}
{% block extra_head %}{% endblock%}
{% block meta_description %}{% endblock %}
{% block keywords %}{% endblock %}


{% block main %}
	<h3 class="text-center">Cars in: {{garage.name}}</h3><hr>
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="/">Home</a></li>
			<li class="breadcrumb-item"><a href="{{ url('panel:garage') }}">Garages</a></li>
			<li class="breadcrumb-item active" >{{garage.name}}</li>
		</ol>
	</nav>


	<table class="table table-hover text-left">
		<thead>
	      <tr class="color_head">
	        <th>Brand</th>
	        <th> <a href="?order_by=kilometers" id="kilometers">Kilometers <i class="fas fa-sort"></i></a> </th>
	        <th> <a href="?order_by=price" id="price">Price <i class="fas fa-sort"></i></a> </th>
	        <th><a href="?order_by=cc" id="cc">CC <i class="fas fa-sort"></i></a></th>
	        <th>License Plate</th>
	      	<th>Owner</th>
	      </tr>
	    </thead>
	    <tbody>
			{% for car in cars %}
				<tr>
		    		<td> <a href="{{ url('panel:car_single', args=[car.id]) }}">{{car.brand}}</a> </td>
		    		<td>{{car.kilometers}}</td>
		    		<td>&euro; {{car.price}}</td>
		    		<td>{{car.cc}}</td>
		    		<td>{{car.license_plate}}</td>
					<td>{{car.owner.full_name()}}</td>
				</tr>
			{% endfor %}
	    </tbody>
	</table>
	


{% endblock %}
{% block site_js %}
	<script type="text/javascript">
		$(document).ready(function() {
			$('#garage').addClass('active');
		});
	</script>
{% endblock %}