{% extends "base_nav.html" %}

{% block page_title %}Home{% endblock %}
{% block site_css %}
    <link href="{{ static('csm/css/panel/home.css') }}" rel="stylesheet" type="text/css">
{% endblock %}
{% block extra_head %}{% endblock%}
{% block meta_description %}{% endblock %}
{% block keywords %}{% endblock %}


{% block main %}
	<h3 class="text-center">System information</h3><hr>
	<div class="wrp">
		<div class="info_head">Owners</div>
		<div class="circle color_one">{{owners}}</div>
	</div>
	<div class="wrp">
		<div class="info_head">Cars</div>
		<div class="circle color_two">{{cars}}</div>
	</div>
	<div class="wrp">
		<div class="info_head">Owner with most cars</div>
		<div class="circle color_three">{{most_cars_owner}}</div>
	</div>
{% endblock %}
{% block site_js %}
	<script type="text/javascript">
		$(document).ready(function() {
			$('#home').addClass('active');

		});
	</script>
{% endblock %}