{% extends "base_nav.html" %}

{% block page_title %}Home{% endblock %}
{% block site_css %}
    <link href="{{ static('csm/css/panel/home.css') }}" rel="stylesheet" type="text/css">
{% endblock %}
{% block extra_head %}{% endblock%}
{% block meta_description %}{% endblock %}
{% block keywords %}{% endblock %}


{% block main %}
	Some stats here or who knows...
{% endblock %}
{% block site_js %}
	<script type="text/javascript">
		$(document).ready(function() {
			$('#home').addClass('active');

		});
	</script>
{% endblock %}