{% extends "base_nav.html" %}

{% block page_title %}Owners{% endblock %}
{% block site_css %}
    <link href="{{ static('csm/css/panel/owners.css') }}" rel="stylesheet" type="text/css">
{% endblock %}
{% block extra_head %}{% endblock%}
{% block meta_description %}{% endblock %}
{% block keywords %}{% endblock %}


{% block main %}
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="/">Home</a></li>
			<li class="breadcrumb-item"><a href="{{ url('panel:owners') }}">Owners</a></li>
			<li class="breadcrumb-item active">All owners</li>
		</ol>
	</nav>

	<table class="table table-hover text-left">
		<thead>
	      <tr class="color_head">
	        <th>Name</th>
	        <th>Email</th>
	        <th>Cars</th>
	        <th>Customer from</th>
	      </tr>
	    </thead>
	    <tbody>
			{% for owner in owners %}
				<tr>
		    		<td>{{owner.full_name()}}</td>
		    		<td>{{owner.email}}</td>
		    		<td>{{owner.owned_cars}}</td>
		    		<td>{{owner.created_on.strftime('%d-%h-%Y')}}</td>
				</tr>
			{% endfor %}
	    </tbody>
	</table>
{% endblock %}
{% block site_js %}
	<script type="text/javascript">
		$(document).ready(function() {
			$('#owners').addClass('active');
		});
	</script>
{% endblock %}